body {
    margin: 0;
    background-color: #efefef;
    font-family:Arial, Helvetica, sans-serif;
}

.float-right {
    position: relative;
    float: right;
}

.float-left {
    position: relative;
    float: left;
}

section {
    /* Give each section some space between each other */
    margin: 20px;
    /*border: 1px grey solid;*/
    padding-left: 20px;
    /*
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 15px grey;
    */
    width: 45%;
}

h1 {
    /* Align the Title to center */
    text-align: center;
    margin: 0;
    /* Give some gurth to the title */
    padding: 10px;;
    background-color: rgb(58, 56, 56);
    color: white;
}

h2 {
    /* Underline the text*/
    text-decoration: underline grey;
}

img {
    /* Position the text next to the image */
    position: relative;
    float: left;
    border: 1px black solid;
    margin-right: 20px;
}

li {
    margin-bottom: 5px;
}